.form-container {
  width: 500px;
  height: 350px;
  background-color: #6d210f;
  border-radius: 10px/15px;
  padding: 20px 40px;
  box-sizing: border-box;
  display: block;
  margin: 100px auto;
}

.form-label {
  font-size: 30px;
}

.single-input-container {
  margin-top: 30px;
}

.text-input {
  height: 25px;
  margin-left: 20px;
  vertical-align: top;
}

.login-button {
  width: 100px;
  height: 40px;
  font-size: 24px;
  margin: 50px auto;
  text-align: center;
  display: block;
}

.header-image-small {
  height: 60px;
  width: 60px;
  margin-left: 20px;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
}

.header-text-small {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
  font-size: 28px;
}
