.impersonate-container {
  margin: 50px auto;
  width: 70%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.left-container {
  width: 500px;
  height: 500px;
  background-color: #6d210f;
  border-radius: 7%;
  margin: 20px;
  position: relative;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
}

.avatar-image {
  background-color: #421307;
  width: 300px;
  height: 300px;
  margin: 60px auto 35px auto;
  border-radius: 100%;
  display: block;
}

.right-container {
  width: 500px;
  height: 600px;
  background-color: #6d210f;
  border-radius: 7%;
  margin: 20px;
}

.message-container {
  width: 100%;
  margin-top: 75px;
  text-align: left;
}

.message-label {
  margin-left: 15px;
  margin-bottom: 10px;
  font-size: 24px;
  display: block;
}

.npc-message {
  width: 80%;
  padding: 12px;
  height: 100px;
  margin: 0 auto 20px auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  display: block;
}

.impersonate-npc-name {
  font-size: 24px;
  font-weight: bold;
}

.posting-to {
  margin-top: 15px;
  font-size: 18px;
  display: block;
}

.active-channel-name {
  display: block;
  font-size: 24px;
  font-weight: bold;
  margin-top: 5px;
}
