.npc-card {
  width: 200px;
  height: 200px;
  background-color: #6d210f;
  border-radius: 7%;
  margin: 20px;
}

.image-placeholder {
  background-color: #421307;
  width: 120px;
  height: 120px;
  margin: 20px auto;
  border-radius: 100%;
  display: block;
}

.npc-name {
  width: 200px;
}
